.product__section {
  padding: 100px 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background: #fff;
}

.product__container-card {
  background: linear-gradient(45deg, #ffffff 0%, #ffffff 100%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 600px;
  text-decoration: none;
  border-radius: 2px;
}

.product__img {
  border-radius: 2px;
}

.product__container {
  display: grid;
  grid-gap: 30px 10px;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
}

.product_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.product__container-cardInfo {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 24px;
  align-items: center;
  /* color: #fff; */
}

.product__container-cardInfo h4 {
  margin-top: 325px;
  font-size: 15px;
  color: black;
}

.product__container-cardInfo p {
  font-size: 14px;
  margin-bottom: 24px;
  color: black;
}

.product__container-cardInfo h3 {
  margin-bottom: 5px;
  font-size: 24px;
  color: rgb(10, 62, 152);
}

@media screen and (max-width: 1263px) {
  .product__container {
    display: grid;
    grid-gap: 30px 10px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
  }
}
/* @media screen and (max-width: 1136px) {
  .product__section {
    margin-top: 0px;
  }
} */

@media screen and (max-width: 960px) {
  .product__container {
    display: grid;
    grid-gap: 30px 10px;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 753px) {
  .product__section {
    margin-top: 90px;
  }
}

@media screen and (max-width: 630px) {
  .product__container {
    display: grid;
    grid-gap: 30px 10px;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 753px) {
  .product__section {
    margin-top: 90px;
  }
}